<h3>Information Customer</h3>
<div>Name: <?= $block->getName(); ?></div>
<div>Date of birth: <?= $block->getDob(); ?></div>
<div>Address: <?= $block->getAddress(); ?></div>
<div>Description: SV4th Cryptography of Technique Academy</div>
<!--<div><a href="/hello/helloworld/index">go home</a></div>-->


