<?php
/**
 * Get form action URL for POST booking request
 *
 * @var $block Week6\Training\Block\Bloglist
 */
$customer = $block->getCustomer();

?>

<table>
    <tr>
        <th class="blog-id">ID</th>
        <th class="blog-name">Name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Email</th>
    </tr>
    <?php
//    foreach ($posts as $k => $v) {
////        dd($v);
//        if ($v['customer_id'] = $id) {
//            $value = $v;
//
//        }
//    }
    echo '<tr>
                        <td>' . $customer['customer_id'] . '</td>
                        <td>' . $customer['customer_name'] . '</td>
                        <td>' . $customer['customer_dob'] . '</td>
                        <td>' . $customer['customer_sex'] . '</td>
                        <td>' . $customer['customer_address'] . '</td>
                        <td>' . $customer['customer_email'] . '</td>
                      </tr>';
    ?>
</table>
