<div id="custom-component" data-bind="scope:'mycomponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#custom-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "mycomponent": {
                        "component": "HelloWorld_Day3/js/mycomponent"
                    }
                }
            }
        }
    }
    </script>
</div>
