<div class="form-addProduct">
    <div>
        <label for="productName">Name:</label><input type="text" id="productName" class="productName">
    </div>
    <div>
        <label for="productPrice">Price: </label><input type="text" name="productPrice" id="productPrice">
    </div>
    <div>
        Image: <input type="file" name="productImage" id="productImage">
    </div>
    <div>
        <label for="productDescription">Description: </label><input type="text" name="productDescription" id="productDescription">
    </div>
    <button type="submit" id="addProduct">submit</button>
</div>
<table id="listProduct">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script type="text/x-magento-init">
    {
        ".form-addProduct":{
            "example":{
            }
        }
    }


</script>
