<div class="prompt-modal-content">
<div class="form-addProduct">
        Name: <input type="text" id="productName" class="productName">
        <br>
        Price: <input type="text" name="productPrice" id="productPrice">
        <br>
        Image: <input type="text" name="productImage" id="productImage" value="https://www.w3schools.com/images/lamp.jpg">
        <br>
        Description: <input type="text" name="productDescription" id="productDescription">
        <br>
        <button type="submit" id="addProduct">submit</button>
    </div>
    <table id="listProduct">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/x-magento-init">
    {
        ".prompt-modal-content":{
            "widget":{
            }
        }
    }
</script>
