<div class="form-add">
    <div>
        <label for="cusId">ID: <span style="color: red">*</span></label>
        <input type="number" name="cusId" id="cusId" data-bind="value: cusId">
    </div>
    <span style="color: red" id="validateId" data-bind="text: validateId"></span>
    <div>
        <label for="cusName">Name: <span style="color: red">*</span></label>
        <input type="text" id="cusName" class="cusName" data-bind="value: cusName">
    </div>
    <span style="color: red" id="validateName" data-bind="text: validateName"></span>
    <div>
        <label for="cusClass">Class: <span style="color: red">*</span></label>
        <input type="text" name="cusClass" id="cusClass" data-bind="value: cusClass">
    </div>
    <span style="color: red" id="validateClass" data-bind="text: validateClass"></span>
    <div style="margin: 5px 0">
        <button class="btn action primary" type="button" id="submit" data-bind="click: submit">Add</button>
    </div>
    <div style="margin: 5px 0">
        <button class="btn action primary" type="button" id="reset" data-bind="click: reset">Reset List</button>
    </div>
</div>
<hr>
<table id="listProduct">
    <thead>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: data">
    <tr>
        <td><span data-bind="text: cusName"></span></td>
        <td><span data-bind="text: cusClass"></span></td>
        <td><button class="btn action primary del" type="button" id="delete" data-bind="click: $parent.delete">Delete</button></td>
    </tr>
    </tbody>
</table>
