* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #000;
}

/* login - register */
.login {
  width: 100%;
  height: 700px;
  background-image: url("./img/image01.jpg");
  padding-top: 150px;
}

.block_login {
  width: 700px;
  height: 500px;
  margin: auto;
  background: rgba(219, 219, 219, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.block_login_heading {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
  color: rgb(255, 255, 255);
}

.block_login > form > div > input {
  padding: 15px 100px 20px 15px;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
}

.btn_login {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgb(242, 142, 25);
  color: white;
  margin: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

/* amdin */
.admin {
  display: flex;
  flex-direction: row;
}

/* SideBar */
.admin_sidebar {
  border-right: 2px solid rgb(219, 218, 218);
  width: 275px;
}

.admin_sidebar > div {
  margin: 15px 25px;
  font-weight: bold;
}

.admin_sidebar > div > a {
  color: #000;
}

.admin_sidebar > div > a:hover {
  color: rgb(79, 143, 191);
}

.admin_sidebar_logout {
  border: rgba(219, 219, 219, 0.5) solid 2px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 15px;
  font-weight: bold;
  color: #000;
}

.admin_sidebar_logout:hover {
  background: rgb(242, 142, 25);
}

/* admin_content */
.admin_content {
  width: 100%;
}

/* navBar */
.admin_navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  line-height: 50px;
  border-bottom: 2px solid rgb(219, 218, 218, 0.5);
  padding-right: 20px;
  font-size: 16px;

}

.admin_option_acc {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  background: #f8f9fa;
  width: 100px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  padding: 5px 5px;
}

.admin_option_acc > div:hover {
  /* color: #000000; */
  border-left: #000000 solid 1px;
  border-right: #000000 solid 1px;
}

.admin_option_acc > a > div:hover {
  /* color: #000000; */
  border-left: #000000 solid 1px;
  border-right: #000000 solid 1px;
}

.navBar_showAcc {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icFaBars_toggle {
  display: none;
}

.fa-user-circle {
  padding-right: 5px;
  font-size: 25px;
}

/* dashboard */
.main_content {
  background: #e9ecef;
  padding: 70px 0px;
}

.dashboard_table {
  width: 70%;
  background: white;
  margin: auto;
  border-radius: 5px;
}

.dashboard_table > thead > tr > th::after {
  content: "";
  display: table;
  border-bottom: #e9ecef solid 1px;
  width: 100%;
  padding-top: 10px;
}

.dashboard_table > thead > tr > th {
  width: 170px;
  padding: 15px 0px 0px 0px;
}

.dashboard_table > tbody > tr > td {
  width: 170px;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
}

.dashboard_table > tbody > tr:hover{
  outline: #e9ecef solid 1px !important;
  font-weight: bold;
}

.th_width_right {
  width: 250px !important;
}

.dashboard_table_total {
  background: #f8f9fa;
  text-align: center;
}

.dashboard_table_total > td {
  outline: #f8f9fa solid 1px;
  font-weight: bold;
  padding: 10px 0px;
}

.block_dashboard {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}

.dashboard_circle {
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashboard_circle > div {
  color: grey;
  font-size: 13px;
}

.dashboard_circle > div > span {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin: 0px 5px;
}

#countries {
  margin-top: 10px;
}

.dashboard_addDevices {
  width: 500px;
  height: 400px;
  /* margin: auto; */
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.dashboard_addDevices > form > div > input {
  padding: 15px 100px 20px 15px;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  background: #f8f9fa;
}

/* Logs */
.logs_heading {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logs_heading > div > form > input {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

#logs_inpSearch {
  background: rgb(242, 142, 25);
}

.logs_pagination {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logs_pagination > input {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background: rgb(79, 143, 191);
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: inline-block;
  border: none;
}

@media screen and (max-width: 414px) {
  .dashboard_table {
    display: none;
  }

  .icFaBars_toggle {
    display: block;
    padding: 5px 0px 0px 15px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
  }

  .admin_sidebar {
    display: none;
    position: fixed;
    z-index: 1;
    background: #f8f9fa;
    height: 900px;
  }

  .block_dashboard {
    flex-direction: column;
    width: 100%;
    /* justify-content: cen; */
    align-items: center;
  }

  .dashboard_circle {
    width: 95%;
  }

  .dashboard_addDevices {
    width: 95%;
    margin-top: 10px;
    height: 300px;
  }

  .dashboard_addDevices > form > div > input {
    background: #e9ecef;
  }
}
