<h3>Ngoc Long</h3>
<form class="form-addProduct" method="get">
    <div>
        <label for="customerName">Name: <span style="color: red">*</span></label><input type="text" name="customerName" id="customerName" class="customerName">
    </div>
    <div>
        <label for="customerDob">Date of birth: <span style="color: red">*</span></label><input type="date" name="customerDob" id="customerName">
    </div>
    <div>
        <label for="Sex">Sex: </label>
        <div>
            <input type="radio" id="Male" name="customerSex" value="Male"
                   checked>
            <label for="Male">Male</label>
        </div>
        <div>
            <input type="radio" id="Female" name="customerSex" value="Female">
            <label for="Female">Female</label>
        </div>
    </div>
    <div>
        <label for="customerAddress">Address: <span style="color: red">*</span></label><input type="text" name="customerAddress" id="customerAddress">
    </div>
    <div>
        <label for="customerEmail">Email: </label><input type="email" name="customerEmail" id="customerEmail">
    </div>
    <button class="btn active primary" name="submit" style="margin-top: 5px" type="submit" value="1" id="addCustomer">Submit</button>
</form>
