<div class="prompt">
        <!--form add products-->
        <form class="form" enctype="multipart/form-data">
            <div>
                <label>
                    Name:
                    <input id="name" name="name" type="text" placeholder="Name" required>
                </label>
            </div>
            <div>
                <label>
                    Price:
                    <input id="price" name="price" type="text" placeholder="Price" required>
                </label>
            </div>
            <div>
                <label>
                    Description:
                    <input id="description" name="description" type="text" placeholder="Description" required>
            </div>
            <div>
                <!--        File: <input id="file" name="file" type="file" placeholder="File">-->
            </div>
            <div><button id="addProduct" type="button">Submit</button></div>
        </form>

        <!--table render product-->
        <table>
            <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Thumbnail</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="demo">
            </tbody>
        </table>
    </div>

    <script type="text/x-magento-init">
    {
        ".prompt":{
            "widget":{
            }
        }
    }
</script>

