<div class="form-addProduct">
    <div>
        Name: <input type="text" id="productName" class="productName" data-bind="value: productName">
    </div>
    <span style="color: red" id="validateName" data-bind="text: validateName"></span>
    <div>
        Price: <input type="number" name="productPrice" id="productPrice" data-bind="value: productPrice">
    </div>
    <span style="color: red" id="validatePrice" data-bind="text: validatePrice"></span>
    <div>
        Description: <input type="text" name="productDescription" id="productDescription" data-bind="value: productDescription">
    </div>
    <span style="color: red" id="validateDescription" data-bind="text: validateDescription"></span>
    <div>
        <button type="button" id="addProduct" data-bind="click: addProduct">submit</button>
    </div>
</div>
<table id="listProduct">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: data">
    <tr>
        <td><span data-bind="text: productName"></span></td>
        <td><span data-bind="text: productPrice"></span></td>
        <td><span data-bind="text: productDescription"></span></td>
    </tr>
    </tbody>
</table>
