<h1>Information Customer</h1>

<!--form-->
<div>
    <div class="input">
        <label>Name: <span style="color: red">*</span></label>
        <div class="control">
            <input type="text" id="name" name="name">
            <p style="color: red; display: none" id="validateName">Moi nhap ten!</p>
        </div>
    </div>
    <div class="input">
        <label>Telephone: <span style="color: red">*</span></label>
        <div class="control">
            <input type="text" id="telephone" name="telephone">
            <p style="color: red; display: none" id="validateTelephone">Moi nhap SDT</p>
        </div>
    </div>
    <div class="input">
        <label>Data of birth: <span style="color: red">*</span></label>
        <div class="control">
            <input type="date" id="dob" name="dob">
            <p style="color: red; display: none" id="validateDob">Moi nhap ngay sinh</p>
        </div>
    </div>
    <div class="input">
        <div class="control">
<!--            <input type="text" id="message" name="message">-->
            <label for="message"><span>Message:</span></label><textarea id="message" rows="5" name="comment" placeholder="Message"></textarea>
        </div>
    </div>
</div>
<div class="primary">
    <button class="btn action primary" id="submit">Submit</button>
</div>

<!--modal-->
<div id="modal-content">
    <div class="modal-inner-content">
        <h2 style="color: red"></h2>
        <div id="popupName"></div>
        <div id="popupTele"></div>
        <div id="popupDob"></div>
        <div id="popupMess"></div>
    </div>
</div>

<script type="text/x-magento-init" >

    {
        "*": {
            "addMember": {
            }
        }
    }




</script>
