@display: flex;
@flexrow: row;
@flexcol: column;
@disNone: none;
.flexrow{
    display: @display;
    flex-direction: @flexrow;
}
.flexcol{
    display: @display;
    flex-direction: @flexcol;
}
.block2 {
    display: @display;
    align-items: flex-start;
    justify-content: center;
}

.block2 > ul > li {
    width: 150px;
}

.footer_block3 {
    .flexcol();
}

.footer_block2 {
    .flexrow();
    align-items: center;
}

.pagebuilder-column > div {
    display: @display;
}

.col_row1 {
    justify-content: center;
    align-items: center;
}

.col_row1_final {
    padding-top: 20px;
}

.footer_row1 {
    background: #e8e8e8;
}

.pagebuilder-column-group {
    display: @display;
    align-items: center;
}

.action.subscribe.primary {
    background: red;
    border: red solid 1px !important;
}

.text_block3 {
    padding: 0 60px 15px 0;
}

.block3 > .block.newsletter {
    display: contents;
}

.block2 > ul > li > div > a {
    text-decoration: none;
    color: #464646;
}

.block2 > ul > li > div > a:hover {
    color: red;
}

.product-info-main {
    width: 60% !important;
}

.product.media {
    width: 40% !important;

}

.fotorama__stage__shaft.fotorama__grab {
    width: 500px;
}

.product_addtocart_form {
    .flexrow();
    justify-content: space-between;
}

.fieldset {
    .flexrow();
    align-items: flex-start;
}

.field.qty {
    .flexrow();
    align-items: center;

}

.label {
    padding-right: 5px;
}

.actions {
    width: 300px;
    margin-left: 15px;
}

.action.primary.tocart {
    background: #1e1e1e;
}

.action.add {
    display: @disNone;
}

.product-info-stock-sku {
    display: @disNone !important;
}

.product-info-price {
    display: @display !important;
    justify-content: space-between;
    border-bottom: none !important;
    border-top: 1px solid #c1c1c1;
}

.product-info-main.product-info-price.price-box {
    padding-top: 15px;
}

.contactprice {
    background: #ff5757;
    color: white;
    margin: 0 0 0 -15px;
    font-size: 18px;
    width: 150px;
    padding: 8px 0;
}

